<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="/tailwind/Assist/fb.png" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>facebook</title>
 
  <link rel="stylesheet" href="output.css">
  <link rel="stylesheet" href="input.css">

  
</head>
<body>
 <main>
  <div class="cntainer  bg-neutral-100  flex h-[100vh]">
<div class="container1  w-[50%] pl-48  justify-center flex-col  mb-28 flex p-16 ">
<h1 class="text-blue-500  text-7xl font-bold ">faceBook</h1>
<h3 class="text-2xl">
  FaceBook help you to contact and share with the people in your life
</h3>

</div>
<div class="container2 w-[50%] p-24 mt-12 flex justify-center   ">
  <div class="logincontainer  bg-white w-96 rounded-md h-96 z-20 shadow-md ">
<form action="/facebook" method="POST" class="flex flex-col p-10  space-y-6">

  <input type="email" class="input email rounded-md  shadow-md shadow-gray-600  focus:bg-blue-200 active:border active:border-solid active:outline-none h-10" placeholder="  Enter Your Email" required name="Email">
  
  <input type="password" class="input password shadow-md focus:bg-blue-200 shadow-gray-400 h-10 rounded-md" placeholder="  Enter your password" required name="password">
<button type="submit" class="sub h-10 shadow-md shadow-slate-500 rounded-md hover:opacity-75 bg-blue-600 text-white">Login</button>
<a href="#" class="text-center  text-blue-500">Forgenten password?</a>
<hr>

</form>
<div class="contain flex justify-center">
<button  class="register bg-green-500 hover:opacity-70 text-white h-10 w-40 rounded-md  " type="button"><a  href="/Register" mehod="POST">Create new account</a></button>
</div>
</div>

</div>
</div>
 </main>
 <footer>

 </footer>
</body>

</html>
